.nftItem-container{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFFD1;
    margin: 10px 10px 10px 10px;
}

.nftItem-container .nftItem-wrap{
    justify-content: center;
    padding: 10px;
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
}

.nftItem-container .nftItem-wrap .nftItem-image{
    flex: 3;
    margin: 0px 0px 20px 0px;
    display: block;
}

.nftItem-container .nftItem-wrap .nftItem-image img{
    width:400px;
    height:500px;
}

.nftItem-container .nftItem-wrap  .nftItem-description{
    flex: 7;
    margin: auto;
    display: block;
}

.nftItem-container .nftItem-wrap  .nftItem-description .nftItem-title{
    text-align: center;
}

.nftItem-container .nftItem-wrap  .nftItem-description .nftItem-title h3{
    color: #FFFFFF;
    font-family: "Helvetica", Sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: none;
    line-height: 1.2em;
}

.nftItem-container .nftItem-wrap  .nftItem-description .nftItem-title  h4{
    color: #FFFFFF;
    font-family: "Helvetica", Sans-serif;
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: none;
    line-height: 1.5em;
}